.global-header {
  border-bottom: 1px solid lighten($text-color, 40%);
  @include rem('margin-bottom', rhythm(1));
}

.header-wrapper {
  @extend .cf;
    @include rem('margin-bottom', rhythm(-1));
}

.header-title {
  @include rem('font-size', modular-scale(2));
  line-height: (rhythm(2) / modular-scale(2));
  margin-bottom: 0;
  font-weight: bold;

  a {
    @extend .link-nostyle;
  }
  float: left;
}

.header-nav {
  float: right;
  @include rem('padding', rhythm(0.5) 0 0);
  line-height: (rhythm(1) / modular-scale(0));
}

.header-site-nav {

  border-bottom: 1px solid lighten($text-color, 40%);
  @include rem('padding-bottom', rhythm(0.5));
  clear: both;
}
