.book {
  @extend .link-complex;
  @include rem('margin-bottom', rhythm(1));

  background-color: #ddd;
  min-height: 160px;
  padding: $base-spacing-unit;
}

.book--unavailable {
  background-color: lighten(#f00, 40%);
}

.book__heading {
  @extend .link-complex__target;
}
